*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.section{
    background-color: lightgray;
    padding-top: 50px;
}
.section2{
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 30px;
}
.container{
    margin: auto;
    max-width: 600px;
    width: 100%;
    background-color:white;
    padding: 0px 50px 20px 50px
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
li{
    padding: 10px;
    text-decoration: none;
    list-style: none;
}
li a{
    color: white;
    padding: 10px;
    text-decoration: none; 
    font-size: 18px;
}
nav li a:hover {
 color: blue;
}

h2 {
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

.nested-table {
    border-collapse: collapse;
}

.nested-table td {
    padding: 2px 8px;
}

.form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  .input{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    width: 102%;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
  }
